html {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    float: right;
  }
  
  .left {
    display: inline-block;
  }
  
  .square {
    background-color: white;
    border: 1px solid black;
  }
  
  .color {
    background-color: gray;
    border: 1px solid black;
  }
  
  .gridContainer {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
  }

#quantity{
    height: 28px;
    border-radius: 5px;
    border: 1px solid black;
}



.reset{
    height: 32px;
    width: 64px;
    border: 1px solid black;
    border-radius: 5px;
}

.reset:hover{
    color: white;
    background-color: black;
    transition: .5s ease;
}

@media screen and (max-width: 375px) {

    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .gridContainer {
        margin-left: 39px;
        display: inline-grid;
        grid-template-columns: repeat(16, 2fr);
        grid-template-rows: repeat(16, 2fr);
        border: 2px solid black;
        border-radius: 5px;
        height: 370px;
        width: 370px;
      }
    


}